<section class="navigation-section">
	<div class="navigation">
		<ul>
			<li>
				<a href="#">
					<span class="icon">
						<ion-icon name="home-outline" role="img" class="md hydrated"></ion-icon>
					</span>
				</a>
			</li>
			<li l>
				<a href="#">
					<span class="icon">
						<ion-icon name="search-outline" role="img" class="md hydrated"></ion-icon>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
						<ion-icon name="apps-outline" role="img" class="md hydrated"></ion-icon>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
						<ion-icon name="person-outline" role="img" class="md hydrated"></ion-icon>
					</span>
				</a>
			</li>
			<div class="indicator">
				<span></span>
			</div>
		</ul>
	</ul>
</div></section>
