{% extends 'base.html.twig' %}

{% block body %}

    {% include 'front/includes/header.html.twig' %}
    
    <div class="container-fluid p-0" style="margin-top:100px">
        {% block content %}{% endblock %}
    </div>

    {% include 'front/includes/footer.html.twig' %}

{% endblock %}